extends layout

block content
	link(rel='stylesheet' href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/signin.css')

	// Fixed navbar
	nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')= title
			div.collapse.navbar-collapse#navbar
				ul.nav.navbar-nav
					li
						a(href='/') Home
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/login') Login
					li.active
						a(href='/signup') Sign Up

		script(src='/js/validate-phone.js')
		

	.container
		form.form-signin(role='form', name="signup", method="post", action="/signup")
			h2.form-signin-heading Sign Up
			if message && message.length != 0
				.alert.alert-danger= message
			input.form-control(type='text', placeholder='Username', name='username', id='username', required='', autofocus='')
			input.form-control(type='password', placeholder='Password', name='password', id='password', required='')
			input.form-control(type='password', placeholder='Confirm Password', name='confirmPassword', id='confirmPassword', required='')
			input.form-control(type='text', placeholder='Phone Number', name='phonenumber', required pattern='^(\+?1)?([0-9]{10})$')
			br
			button.btn.btn-lg.btn-success.btn-block(type='submit') Sign Up
			h5.form-signing-heading Already have an account?
				a(href='/login')  Login

	script.

		function initConfirmEmail() {
			var elem = document.getElementById('confirmPassword');
			elem.addEventListener('blur', verifyPassword);
			function verifyPassword(input) {
				input = input.srcElement;
				var primaryPassword = document.getElementById('password').value;

				if(input.value != primaryPassword) {
					alert('Passwords must match');
				} else {

				}
			}
		}

		initConfirmEmail();

